.container {
  /* TODO */
  width: 800px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 300px;
  }
}
